@media screen {
  body.ead-print {
    font-size: 12pt;
    padding-top: 5rem;
    width: 70rem;
    max-width: 95%; } }
@media print {
  html {
    width: 100%; }

  body.ead-print {
    font-size: 10pt; } }
body.ead-print {
  font-family: GeorgiaPro, Georgia, "Times New Roman", Times, serif;
  margin: auto; }

.no-bullets {
  list-style-type: none; }

div.title-block {
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 2.5pt solid; }
  div.title-block h1 {
    font-size: 175%; }
  div.title-block p {
    font-size: 125%; }

div.did {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2.5pt solid; }

table {
  table-layout: fixed;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  font-size: 100%; }
  table thead {
    vertical-align: top;
    font-weight: bold; }
  table tbody {
    vertical-align: top; }
  table td {
    min-width: 15%; }

table.overview {
  width: 100%; }
  table.overview td {
    padding-top: .25rem; }
  table.overview td.did-label {
    font-weight: bold;
    vertical-align: text-top;
    width: 8.5rem; }
  table.overview td.did-value {
    font-weight: normal; }

table.chronlist td.date {
  width: 8rem; }
table.chronlist h4 {
  margin-block-end: 0.25rem; }

div.archdesc-section {
  border-bottom: 1.5pt solid; }
  div.archdesc-section h3 {
    margin-block-end: 0.5rem; }
  div.archdesc-section p {
    margin-block-start: 0.25rem; }
  div.archdesc-section ul.subject-headings {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 0; }
    div.archdesc-section ul.subject-headings h5 {
      font-size: 100%;
      margin-block-start: 0;
      margin-block-end: 0; }
    div.archdesc-section ul.subject-headings ul {
      list-style-type: none;
      padding-left: 0; }
  div.archdesc-section li.subj-label {
    margin-bottom: 0.75rem;
    display: flex; }
    div.archdesc-section li.subj-label ul {
      margin-top: 0; }
    div.archdesc-section li.subj-label .label, div.archdesc-section li.subj-label h5 {
      width: 9rem;
      text-align: right;
      margin-right: 1rem; }

div.archdesc-section.restrict h4 {
  display: inline;
  margin-right: .5rem;
  margin-top: 0;
  margin-bottom: 0;
  float: left; }

div.archdesc-section.admininfo .subhead-1 {
  font-weight: bold;
  display: inline; }

ul.bibliography {
  margin-block-start: 0.5rem; }

.component:nth-of-type(odd) {
  background-color: #edebeb;
  margin-left: -4pt;
  padding-left: 4pt; }

div.component {
  display: flex; }
  div.component p, div.component ol, div.component ul {
    margin-block-start: 0.25rem;
    margin-block-end: 0.25rem; }
  div.component .label {
    text-transform: uppercase;
    color: #4A3C31; }
  div.component div.box-folder {
    margin-bottom: 6pt;
    padding-top: 5.5pt;
    font-family: BentonSansCondBold, "Arial Narrow", "Helvetica Neue Condensed Bold", sans-serif;
    font-weight: bold;
    vertical-align: top;
    width: 6rem; }
  div.component div.component-info {
    border-top: 1.25pt solid dimgrey;
    padding-top: 4pt;
    padding-left: 4pt;
    margin-bottom: 6pt;
    width: 100%; }
    div.component div.component-info h4, div.component div.component-info h5 {
      display: inline;
      color: #4A3C31;
      text-transform: uppercase;
      margin-right: .5rem;
      margin-top: 4pt;
      margin-bottom: 0; }
    div.component div.component-info h5 {
      font-size: initial; }
  div.component .unittitle {
    display: inline;
    font-family: GeorgiaProBold, Georgia, "Times New Roman", Times, serif;
    margin-bottom: 6pt; }

.unittitle.series, .unittitle.subseries {
  font-size: 115%;
  font-weight: bold; }

.c01 div.component-info,
.c div.component-info {
  margin-left: 0; }

.c02 div.component-info {
  margin-left: 2rem; }

.c03 div.component-info {
  margin-left: 4rem; }

.c04 div.component-info {
  margin-left: 6rem; }

.c05 div.component-info {
  margin-left: 8rem; }

.c06 div.component-info {
  margin-left: 10rem; }

.c07 div.component-info {
  margin-left: 12rem; }

.c08 div.component-info {
  margin-left: 14rem; }

.c09 div.component-info {
  margin-left: 16rem; }

.c10 div.component-info {
  margin-left: 18rem; }

.c11 div.component-info {
  margin-left: 20rem; }

.c12 div.component-info {
  margin-left: 22rem; }

/*# sourceMappingURL=print.scss.map */
